
{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Tren Recorrido</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos ipsum libero exercitationem. Eos sunt iure eveniet! Praesentium dicta aut, iusto modi neque, at illum velit repudiandae saepe commodi sapiente minima.</p>
    </div>
</div>   

<div class="col-4">
    <img src="/assets/img/tren.jpg" alt="Esta es una imagen" class="img-thumbnail">
</div>

{{> footer}}